@font-face {
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/PPNeueMontreal-Medium.otf);
}
@font-face {
  font-family: Schnyder;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Schnyder\ Cond\ Light\ Web.woff2) format("woff2");
}
