body {
  margin: 0;
  --color-text: #000;
  --color-text-alt: #848484;
  --color-title: #c4b9b9;
  --color-bg: #d4c9c9;
  --color-link: #e3154d;
  --color-link-hover: #000;
  color: var(--color-text);
  background-color: var(--color-bg);
  --cursor-stroke: #e3154d;
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  --cursor-text: #000;
  font-family: Neue Montreal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (any-pointer: fine) {
  .cursor {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
  }

  .cursor__svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cursor__svg-circle {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
  }

  .cursor__text {
    position: absolute;
    top: 1.875rem;
    left: 80px;
    font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 500;
    fill: var(--cursor-text);
  }
}

.cbd {
  border: 1px solid red;
}

.hamburger {
  width: 50px;
  height: 20px;
  position: relative;
  margin-left: auto;
}

.-upper {
  text-transform: uppercase;
}

.logo {
  mix-blend-mode: difference;
  font-size: 2rem;
}

.space-y-5>*+* {
  margin-top: 5rem;
}

.space-y-10>*+* {
  margin-top: 10rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.text-bold {
  font-family: Neue Montreal;
  font-weight: 700;
}

#menu>.hamburger>span {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #000;
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu>.menu-content {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  top: -120vh;
  left: 0;
  width: 100vw;
  z-index: 9;
  height: 100vh;
  background: #d4c9c9;
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu>.menu-content>* {
  color: #000;
}

#menu.open>.menu-content {
  top: 0;
}

#menu>.hamburger>span:first-child {
  top: 0;
}

#menu>.hamburger>span:last-child {
  bottom: 0;
}

#menu.open .hamburger span:first-child {
  top: 50%;
  transform: rotate(225deg) translateY(50%);
}

#menu.open .hamburger span:last-child {
  transform: rotate(-225deg) translateY(-50%);
  bottom: 50%;
}

.marquee-wrap {
  white-space: nowrap;
  font-size: 14vw;
  display: flex;
  align-items: center;
  will-change: transform;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.marquee-box {
  transition: all 0.2s ease-out;
  will-change: transform;
  animation: marquee 10s linear infinite;
  font-weight: thin;
}

.cursive {
  font-family: Schnyder !important;
}

.menu-content>.marquee-wrap:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0;
}

.menu-content>.marquee-wrap>.marquee-box {
  animation: none;
}

.menu-content>.marquee-wrap:hover>.marquee-box {
  opacity: 1;
  animation: marquee 1s linear infinite;
}

.menu-content> :not(.marquee-wrap:hover)> :not(.marquee-box:first-child) {
  opacity: 0;
  animation: none;
}

.by {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.marquee-text {
  margin: 0 10vw 0 0;
}

.strong {
  font-family: Neue Montreal;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes marquee {
  from {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.text-difference {
  color: #000;
  backdrop-filter: invert(100%);
  mix-blend-mode: difference;
}

.capitalize {
  text-transform: capitalize;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  width: 8000px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 600px;
}

.slide {
  width: 400px;
  height: 500px;
  background: #e3e3e3;
}

.slide>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.is-inview>.card {
  opacity: 1;
  transform: scale(1);
}

.card {
  opacity: 0;
  transform: scale(1.5);
  transition: all 1s ease-out;
}

#mappa {
  position: relative;
}

#mappa>.dot {
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  transform: scale(5);
  transition: all .2s ease-out;
}

#mappa.is-inview>.dot {
  background: #c4b9b9;
  transform: scale(1);
}

.dot::after {
  content: attr(data-label);
}

.min-content {
  width: min-content;
}

.fix-content {
  width: fit-content;
}

.no-wrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}